.main_content {
  margin-left: 150px;
  font-family: serif;
  height: max-content;
  
}
.move{
 
  font-size: 4.5rem;
  margin-left: 25px;
  margin-top: 40px;
  color: black;
}
.content {
  font-size: 1.5rem;
  margin-top: 20px;
  color: black;
  margin-left: 25px;

}
.li{
  display: flex;
  list-style: none;
  gap: 2.5rem;
  margin-top: 40px;
  align-items: center;
}
.start-button-get{
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2680eb;
  border-color: #2680eb;
  color: white;
  height: 40px;
  width: 130px;
  margin-left: 40px;
}
.start-icon{
  margin-bottom: -4px;
  margin-left: -12px;
  cursor: pointer;
}

.model{
  margin-left: 750px;
  margin-top: -500px;
  height: 600px;

}

.fb{
  height: 30px;

}
.insta{
  height: 30px;
  border-radius: 60px;
}

.youtube{
  height: 30px;
  border-radius: 80px;
  
}

.icons{
  display: flex;
  
  gap: 2rem;
  margin-top: -20px;
  margin-left: 50px;
  
}