.BMI {
  margin-left: 25px;
  margin-top: -25px;
}
.Activity {
  margin-top: -25px;
  margin-left: 25px;
}
.Sweat {
  margin-left: 25px;
  margin-top: -25px;
}
.Ahcievment {
  margin-left: 650px;
  margin-top: -275px;
}
.Achi {
  margin-left: 80px;
  margin-top: -15px;
}
.pie {
  margin-left: -200px;
  margin-top: -35px;
}
.weight{
  margin-top: -230px;
  margin-left: 280px;
}
.Fit-weight{
  margin-top: 5px;
  margin-left:280px;
}
.Fats{
  margin-top: 5px;
  margin-left: 280px;
}
.pie2 {
  margin-left: -85px;
}
.cardsintab {
  margin-left: -1045px;
  margin-top: -29px;
  white-space: -20px;
}

.card2intab {
  margin-top: -50px;

}
.card3intab {
  margin-top: -40px;
}

.ach {
  margin-top: 3.5px;
  margin-left: 100px;
}
.ach-img {
  margin-left: -160px;
  margin-top: 20px;
  border-radius: 25px;
  height: 280px;
  display: flex;
}
