.protab {
  height: 100px;
  width: 100px;
  margin-left: 700px;
  margin-top: -1000px;
  margin-bottom: 510px;
}
.nameinput {
  margin-left: 650px;
  margin-top: -490px;
}
.update-p {
  margin-left: 300px;
  margin-top:140px;
}
.input-holder100 {
  margin-top: -130px;
  margin-left: 160px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: larger;
  text-align: center;
  font-size: 30px;
}

.input-holder200 {
  margin-top: 30px;
  margin-left: 160px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: larger;
  text-align: center;
  font-size: 30px;
}

.input-holder300 {
  margin-top: 30px;
  margin-left: 160px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: larger;
  text-align: center;
  font-size: 30px;
}
.button-container-confirm {
    margin-top: 70px;
    margin-left: 850px;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    font-size: 23px;
    cursor: pointer;
    background-color:  #2680eb;
    border-color: #2680eb;
    color: white;
  }

.Tell-p{
    margin-left: 1000px;
    margin-top: -350px ;
}

.input-holder400 {
    margin-top: 20px;
    margin-left: 510px;
    border-radius: 25px;
    height: 250px;
    width: 500px;
    font-size: larger;
  }

  .button-container-send {
    margin-top: 70px;
    margin-left: 1400px;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    font-size: 23px;
    cursor: pointer;
    background-color:  #2680eb;
    border-color: #2680eb;
    color: white;
  }