body {
  margin: 0;
  padding: 0;
}
.backbutton{
    color: #2680eb;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.lock-image {
  color: #2680eb;
  height: 10rem;
  margin-top: 70px;
 margin-left: 700px;
}
.forgetp {
  color: #2680eb;
  margin-left: 700px;
  font-size: xxx-large;
}
.passp {
  color: #2680eb;
  margin-left: 625px;
  font-size: xxx-large;
}
.provide {
  color: #2680eb;
  margin-left: 620px;
  font-size: x-large;
  font-weight: bold;
}
.for {
  color: #2680eb;
  margin-left: 550px;
  font-size: x-large;
}


.input-holder-f{
  text-align: center;
    height: 32px;
    font-size: 30px;
    outline: none;
    border-top-style:none;
    border-right-style: none ;
    border-left-style: none ;
    border-bottom-style: 2px  solid black;
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
    
}



.forget2-button{
 
        padding: 10px;
        border: none;
        background-color: #2680eb;
        color: white;
        border-radius: 30px;
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;
        margin-left: 730px;
        margin-top: 60px;
        width: 100px;
        height: 50px;
        align-items: center;
    
      
      
}