*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper{
   background-color: inherit;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;

}


.input2{
    height: 32px;
    font-size: 20px;
    outline: none;
    border-top-style:none;
    border-right-style: none ;
    border-left-style: none ;
    border-bottom-style: 2px  solid black;
    background-color: rgb(213, 207, 207);
    position: relative;
    margin-left: 70px;
    
}




span{
    font-size: 18px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}