body {
    margin: 0;
    padding: 0;
  }
  .Signin {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .welcomeb {
    color: #2680eb;
    font-size: 2.7rem;
    font-weight: bold;
    margin-left: -5px;
    cursor:auto;
    
  }
  .forgettt{
    margin-left: -5px;
    font-size: 20px;
    margin-top: -15px;
    color: rgb(77, 70, 70);
    font-weight: bold;
  }

  
  .signform {
    height: 500px;
    width: 300px;
    padding: 0px 60px;
    margin-left: 1000px;
    margin-top: 140px;
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translateY(-50%);
    transition: .5s;
    cursor: pointer;
  }
  
  .inputs222{
    margin-left:25px;
  }
  
  .buttonn {
    padding: 10px;
    border: none;
    background-color: #2680eb;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 30px;
  
  }
  
  .buttonnn {
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: #2680eb;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 85px;
    margin-top: 10px;
  }


  .img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 720px;
  
  }
  