body {
  margin: 0;
  padding: 0;
}
.SignUp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome {
  color: #2680eb;
  font-size: 2.7rem;
  justify-content: center;
  margin-left: -32px;

}

.signupform {
  
  height: 500px;
  width: 300px;
  padding: 0px 60px;
  margin-left: 1000px;
  margin-top: 5px;
  position: absolute;
  top: 40%;
  left: 5px;
  transform: translateY(-50%);
  transition: .5s;
  cursor: pointer;
}

.inputs1{
  margin-left: 20px;
}


.button1 {
  padding: 10px;
  border: none;
  background-color: #2680eb;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 90px;

}

.button2 {
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #2680eb;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 98px;
  margin-top: 10px;
}
.button3 {
  padding: 10px;
  border: none;
  background-color: #2680eb;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 60px;
  margin-top: 10px;
  
}
.button4 {

  padding: 10px;
  border: none;
  background-color: #2680eb;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 10px;

}
.image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 725px;

}
